body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    display: none;
    position: unset;
    font-size: 40px;
}

#game-board {
    display: grid;
    height:606px;
    width: 606px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "zeero one two"
    "three four five"
    "six seven eight";
    background-color: black;
    
    order: 0;
    
    gap: 3px;
}

.square {
    background-color: white;
    height: 200px;
    width: 200px;
    order: 1;

}

#square-0 {
    grid-area: zeero
}
#square-1 {
    grid-area: one
}
#square-2 {
    grid-area: two
}
#square-3 {
    grid-area: three
}
#square-4 {
    grid-area: four
}
#square-5 {
    grid-area: five
}
#square-6 {
    grid-area: six
}
#square-7 {
    grid-area: seven
}
#square-8 {
    grid-area: eight
}
